@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:  sans-serif;
}

$Dpink:#a21daf;
$pink:#c126d3;
$Wpink:#d945ef;


@mixin flex($justify,$align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin grid($grid,$align){
    display: grid;
    grid-template-columns: repeat($grid,1fr);
    align-items: $align;
}
.App {
    width: 100vw;     
    display: flex;
    height: 100vh;       
    justify-content: center;
    .FormLeft{
        background-color: $pink;
        width: 30vw;     
        padding: 20px 10px;
        height: 100%;         
        overflow-y: auto;   

    }
    .CV{
        background-color: #fff;
        width: 50vw;    
        padding: 0px 50px; 
        height: 100%;         
        overflow-y: auto;  
    }

   
  }


  
h4{
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.form-control{
    display: flex;
    align-items: center;
    input{
        width: 100%;
        border: none;
        border-radius: 5px;
        height: 40px;
        margin: 10px 0;
        margin-right: 10px;
    }
    textarea {
        width: 100%;
        height: 150px;
        border: none;
        border-radius: 5px;
        margin: 10px 0;
        margin-right: 10px;
    }
    
}

.my15{
    margin: 25px 0;
}

@media screen and (min-width: 400px) and (max-width: 900px) {
    .App {
        display: block;
        height: 100vh;


        .FormLeft, .CV {
            width: 100%;
            flex: 1;
        }
    }
}


